.home {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  line-height: 1.6;
}

.hero {
  background-image: url('src/assets/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  padding: 20px;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 0;
}

.hero-box {
  z-index: 1;
  max-width: 800px;
  padding: 20px;
}

.hero-title {
  font-family:'Playfair Display',serif;
  font-size:3.5em;
  margin-bottom:20px;
  line-height:1.2;
  
}

.hero-sub {
  font-size: 1.4em;
  margin-bottom: 30px;
}