
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}


a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}


body {
  min-width: 100%;
  margin:0; 
  font-family:'Montserrat', sans-serif;
  color:#333;
  line-height:1.6; 
  background-color:#fdfaf7; 

}


h1,h2,h3,h4,h5,h6{
  font-family: 'Playfair Display', serif;
  color:#333; 
  margin-top:0;
  margin-bottom:0.5em; 
}



@media (max-width:1050px) {
  .app {
    width: 90%;
  }
}